/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px;
  font-size: calc(1.2rem + 0.6vmin);
  font-family: "Open Sans", sans-serif;
}

/* HEAD */

header {
  position: relative;
}

header:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #7e4a7c;
}

.head {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.logo-academy {
  margin: 0 auto;
  padding: 16px;
}

/* NAV BAR */

.nav-bar {
  background-color: #7e4a7c;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.links li span a {
  color: white;
  text-decoration: none;
  font-size: calc(2rem + 0.6vmin);
}

.links li span a:hover {
  background-color: white;
  color: #7e4a7c;
}

button:hover {
  background-color: white;
  color: #7e4a7c;
}

/* TITRES */

.purple-dark {
  color: #7e4a7c;
  text-align: center;
  padding: 18px;
  font-family: "Economica", sans-serif;
}

.purple-light {
  color: #b878b5;
  font-family: "Economica", sans-serif;
}

/* ABOUT THE SCHOOL */

.more-button {
  background-color: #7e4a7c;
  color: white;
  text-decoration: none;
  font-size: calc(1.8rem + 0.6vmin);
  border-width: 0;
}

.about-the-school {
  display: flex;
  padding: 40px 64px;
}

.img-group {
  flex: 1 0;
}

.wrap {
  flex-wrap: wrap;
}
.list1 {
  flex: 1 0;
  padding-left: 15px;
}

.list1 p {
  margin: 0;
}

.why-us {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.list2 {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list2 li:before {
  content: url(./instructions/images/puce-fleche.png);
}

.title-why {
  color: #7e4a7c;
  padding:0;
  margin: 0;
  font-family: "Economica", sans-serif;
}

.purple-text {
  color: #7e4a7c;
  font-weight: 700;
}

/* OUR TEACHERS */

.teachers {
  display: flex;
  padding: 40px 64px;
}

@media only screen and (max-width: 1164px) {
  .teachers {
    flex-direction: column;
  }
  .about-the-school {
    flex-direction: column;
  }
}

.JH,
.TG,
.DP,
.TW {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.second-row {
  margin-left: 15px;
}

.img,
.teacher {
  flex: 1 0;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.no {
  margin: 0;
  padding: 0;
}

.size {
  max-width: 100px;
  min-height: 50px;
}

/* TABLE */

.table-flex {
  display: flex;
  justify-content: center;
  padding: 40px 64px;
}

.table {
  width: 90%;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #b878b5;
  padding: 5px;
}

.background {
  background-color: #7e4a7c;
  color: white;
}

table td:empty {
  background-color: #ffeefe;
}

.days {
  text-align: center;
  font-weight: 700;
}

.align {
  text-align: center;
}


/* FORM */

.form {
  border: 1px solid #7e4a7c;
  display: flex;
  flex-direction: column;
}

.button-submit {
  display: flex;
  justify-content: center;
}

.form1 {
  background-color: #ffeefe;
  margin: 20px;
  padding: 25px;
  display: flex;
}

.form2 {
  background-color: #ffeefe;
  margin: 20px;
  padding: 25px;
}

.table-row-2 {
  display: flex;
  justify-content: stretch;
}

.input1,
.input2 {
  flex: 1 0;
  display: flex;
}

* label {
  margin-right: 10px;
  margin-left:10px;
}

.input2 label {
  margin-left: 25px;
}

.form1 input {
  flex: 1 0;
  width: 100%;
  display: flex;
}

.select1,
.select2,
.select3 {
  flex: 1 0;
  display: flex;
}

select {
  flex: 1 0;
  display:flex;
}

.button-size {
  min-height: 50px;
  border-width: 0;
  margin-bottom: 20px;
  padding: 10px;
}

.social {
  background-color: #7e4a7c;
  justify-content: center;
  gap: 32px;
  display: flex;
  margin-top: 50px;
  padding: 20px;

}

.social a {
  min-width: 30px;
  min-height: 30px;
  display: block;
  background-image: url(./instructions/images/reseaux.png);
  background-position: 0 30px;
}

.social a:hover {
  background-color: white;
}

.social a:nth-child(2) {
  background-position: -30px 30px;
}

.social a:nth-child(3) {
  background-position: -60px 30px;
}

.social a:nth-child(4) {
  background-position: -90px 30px;
}
