.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
  padding: 0 16px;
}
/* attention au padding sur parent */
.div-child {
  background-color: lightgrey;
  box-shadow: 0 0 0 2px black;
  border-radius: 4px;
  padding: 16px;
  min-width: 260px;
}
/* attention a creer un div commune enfant pour ne pas re ecrire */

.enfant1 {
  flex: 1 0;
}
.enfant2 {
  flex: 2 0;
}
.enfant3 {
  flex: 1 0;
}
