.footer__links {
  &__list {
    &__arrow a::after {
      content: url(../assets/nav__arrow.svg);
      transform: rotate(-45deg);
    }

    display: flex;
    flex: 1 0;
    gap: 18px;
  }

  a {
    &:hover {
      color: var(--secondary-color);
      transition: var(--primary-transition);
    }

    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
  }
}

.footer__rights {
  span {
    color: var(--secondary-color);
    flex: 1 0;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  a {
    &:hover {
      color: var(--primary-color);
      transition: var(--primary-transition);
    }
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 14px;

    @media only screen and (max-width: 1000px) {
      display: contents;
      padding: 16px;
    }
  }
  display: flex;
  padding: 16px 0;

  @media only screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
