:root {
  --primary-color: white;
  --secondary-color: lightgrey;
  --third-color: #181a1f;
  --primary-font: "Inter", sans-serif;
  --primary-transition: all 0.3s ease;
  --rainbow-color: linear-gradient(97.88deg, #11a97d, #6610f2 119.44%);
}
