.footer {
  background-color: var(--green);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer__list {
  display: flex;
  justify-content: space-evenly;
}

.footer__list a {
  color: var(--white);
  text-decoration: none;
}

.footer__list li {
  padding: 15px;
}
